.dd-o-list-posts {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 100%;

    @media (min-width: 320px) {
      width: 50%;
    }

    @media (min-width: 400px) {
      width: 33.33333%;
    }

    @media (min-width: 560px) {
      width: 25%;
    }

    @media (min-width: 768px) {
      width: 20%;
    }

    @media (min-width: 880px) {
      width: 16.6666666667%;
    }

    @media (min-width: 960px) {
      width: 12.5%;
    }

    @media (min-width: 1024px) {
      width: 10%;
    }

    @media (min-width: 1184px) {
      width: 8.3333333333%;
    }
  }

  &__card {
    display: block;
    width: 100%;
    filter: grayscale(1);
    transition: 0.2s all ease;

    &:hover {
      filter: grayscale(0);
    }

    &__image {
      width: 100%;
      display: block;
    }
  }
}
