---
---

DirectoryIndex index.html

RewriteEngine On
RewriteBase /

{% for post in site.posts %}
RewriteRule ^{{site.url}}/{{post.title | slugify }} {{ post.url | absolute_url }} [R=301,L]
{% endfor %}