.default {
  background-color: $color-primary-shade;

  .wrapper__button {
    left: rem(88px);
    bottom: rem(24px);
  }

  .header {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
