.default {
  .header {
    display: none;
  }

  .main {
    margin-bottom: rem(160px);

    @media (min-width: $tablet) {
      margin-bottom: rem(120px);
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
