.reset-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  outline: 0; // Estilizar o outline com box-shadow

  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  > * {
    pointer-events: none;
  }
}

.reset-input {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: 0;
  background-clip: padding-box;
  outline: 0; // Estilizar o outline com box-shadow

  &:not(:disabled):not(.disabled) {
    cursor: text;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }
}
