<section class="modal modal-share" data-modal="share">
  <div class="modal-shadow" data-open="share"></div>

  <div class="modal-content">
    <header class="modal-header">
      <h3 class="modal-header__title">
        <i class="fas fa-share-alt"></i>
        Compartilhe
      </h3>
    </header>

    <nav class="share">
      <ul class="share-social">
        <li>
          <a
            href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }} - {{page.artist | uri_escape}} ({{page.year}}) {{ page.url | absolute_url }} via @bandas1album"
            target="_blank"
            title="Compartilhe no Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>

        <li>
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
            target="_blank"
            title="Compartilhe no Facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>

        <li>
          <a
            href="https://api.whatsapp.com/send?text={{ page.title | uri_escape }} - {{ page.artist | uri_escape }} ({{ page.year }}) {{ page.url | absolute_url }}"
            target="_blank"
            title="Compartilhe no WhatsApp"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
        </li>
      </ul>

      <div class="share-url">
        <input
          id="url"
          type="text"
          value="{{ page.url | absolute_url }}"
          readonly
          class="share-url__input"
        />
        <button data-clipboard-target="#url" class="share-url__button">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </nav>
  </div>
</section>
