<footer class="footer" role="contentinfo">
  <div class="footer__wrapper">
    <p class="footer__copy">2021 &copy; Bandas de 1 Álbum</p>

    <nav class="footer__nav">
      <a href="#" data-toggle="menu">Álbuns</a>
      <a href="/sobre">Sobre</a>
      <a href="mailto:bandasde1album@gmail.com" target="_blank">
        Indique álbuns
      </a>
    </nav>

    <ul class="footer__social">
      <li>
        <a href="https://discord.gg/NCmM5Rk3bd" target="_blank">
          <i class="uil uil-discord"></i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/bandas1album" target="_blank">
          <i class="uil uil-instagram-alt"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/bandas1album" target="_blank">
          <i class="uil uil-facebook-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
