<footer class="footer" role="contentinfo">
  <div class="footer__wrapper">
    <div class="footer__copy">
      <img src="/assets/img/logo.png" alt=" Bandas de 1 Álbum" />
      <div>
        <p>Bandas de 1 Álbum</p>
        <p>
          <small>
            2021 &copy; Developed by
            <a href="https://kevinoliveira.com.br/" target="_blank"
              >Kevin Oliveira</a
            >.
          </small>
        </p>
      </div>
    </div>

    <nav class="footer__nav">
      <a href="#" data-toggle="menu">Álbuns</a>
      <a href="#">Sobre</a>
      <a href="mailto:bandasde1album@gmail.com" target="_blank">
        Indique álbuns
      </a>
    </nav>

    <ul class="footer__social">
      <li>
        <a
          href="https://discord.gg/NCmM5Rk3bd"
          class="footer_social__item discord"
          target="_blank"
        >
          <i class="fab fa-discord"></i>
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/bandas1album"
          class="footer_social__item instagram"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a
          href="https://facebook.com/bandas1album"
          class="footer_social__item facebook"
          target="_blank"
        >
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a
          href="https://open.spotify.com/playlist/37QNK2dlTAb2me8kflUiwp?si=2IhqqlyNT1S-BHchXLB4Rw"
          target="_blank"
          class="footer_social__item spotify"
        >
          <i class="fab fa-spotify"></i>
        </a>
      </li>
      <li>
        <a href="/feed.xml" target="_blank" class="footer_social__item rss">
          <i class="fas fa-rss"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
