<footer class="footer" role="contentinfo">
  <div class="footer__wrapper">
    <div class="footer__copy">
      <a href="/" title="Bandas de 1 Álbum">
        <img src="/assets/img/logo.png" loading="lazy" alt="{{ site.title }}" />
      </a>
      <div>
        {% if page.url == '/' %}
        <h1 class="footer__copy__title">
          <strong>{{ site.title }}</strong>
          <span>{{site.subtitle}}</span>
        </h1>
        {% else %}
        <h2 class="footer__copy__title">
          <strong>{{ site.title }}</strong>
          <span>{{site.subtitle}}</span>
        </h2>
        {% endif %}
        <p>
          <small>
            2021 &copy; Feito por
            <a href="https://kevinoliveira.com.br/" target="_blank"
              >Kevin Oliveira</a
            >
          </small>
        </p>
      </div>
    </div>

    <nav class="footer__nav">
      <a href="/sobre">Sobre</a>
      <a href="/politica-de-privacidade">Privacidade</a>
      <a href="mailto:bandasde1album@gmail.com" target="_blank">
        Indique álbuns
      </a>
    </nav>

    <ul class="footer__social">
      <li>
        <a
          href="https://t.me/joinchat/9_YXDUVo_shiNGEx"
          class="footer_social__item telegram"
          target="_blank"
          aria-label="Telegram"
          title="Entre em nosso grupo do Telegram"
        >
          <i aria-hidden="true" class="fab fa-telegram-plane"></i>
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/bandas1album"
          class="footer_social__item instagram"
          target="_blank"
          aria-label="Instagram"
          title="Siga-nos no Instagram"
        >
          <i aria-hidden="true" class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a
          href="https://facebook.com/bandas1album"
          class="footer_social__item facebook"
          target="_blank"
          aria-label="Facebook"
          title="Curta nossa página no Facebook"
        >
          <i aria-hidden="Facebook" class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a
          href="https://open.spotify.com/user/ryyq8vjpuf4vgfgll9zoecplr?si=09LFT22HQaaRIgfIkIatEw"
          target="_blank"
          class="footer_social__item spotify"
          aria-label="Spotify"
          title="Ouça nossas playlists no Spotify"
        >
          <i aria-hidden="true" class="fab fa-spotify"></i>
        </a>
      </li>
      <li>
        <a
          href="/feed.xml"
          target="_blank"
          class="footer_social__item rss"
          aria-label="RSS Feed"
          title="Assine nosso RSS Feed"
        >
          <i aria-hidden="true" class="fas fa-rss"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
