<div class="sidebar-backdrop"></div>
<aside class="sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar__wrapper">
      <a href="/" class="sidebar-nav__logo" title="Bandas de 1 Álbum">
        <img src="/assets/img/logo.png" loading="lazy" alt="{{ site.title }}" />
      </a>

      <ul class="sidebar-nav__menu">
        <li>
          <button
            class="sidebar-nav__menu__item"
            data-sidebar="albums"
            aria-title="Álbuns de A a Z"
            title="Álbuns de A a Z"
          >
            <i class="fas fa-compact-disc" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button
            class="sidebar-nav__menu__item"
            data-sidebar="countries"
            aria-title="Bandas por países"
            title="Bandas por países"
          >
            <i class="fas fa-globe" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button
            class="sidebar-nav__menu__item"
            data-sidebar="genres"
            aria-title="Gêneros"
            title="Gêneros"
          >
            <i class="fas fa-book" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button
            class="sidebar-nav__menu__item"
            data-sidebar="year"
            aria-title="Ano de lançamento"
            title="Ano de lançamento"
          >
            <i class="fas fa-calendar-check" aria-hidden="true"></i>
          </button>
        </li>
      </ul>

      <ul class="sidebar-nav__social">
        <li>
          <a
            href="https://t.me/bandas1album"
            class="sidebar-nav__social__item telegram"
            target="_blank"
            aria-label="Telegram"
            title="Entre em nosso grupo do Telegram"
          >
            <i aria-hidden="true" class="fab fa-telegram-plane"></i>
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com/bandas1album"
            class="sidebar-nav__social__item instagram"
            target="_blank"
            aria-label="Instagram"
            title="Siga-nos no Instagram"
          >
            <i aria-hidden="true" class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://facebook.com/bandas1album"
            class="sidebar-nav__social__item facebook"
            target="_blank"
            aria-label="Facebook"
            title="Curta nossa página no Facebook"
          >
            <i aria-hidden="Facebook" class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://open.spotify.com/user/ryyq8vjpuf4vgfgll9zoecplr?si=09LFT22HQaaRIgfIkIatEw"
            target="_blank"
            class="sidebar-nav__social__item spotify"
            aria-label="Spotify"
            title="Ouça nossas playlists no Spotify"
          >
            <i aria-hidden="true" class="fab fa-spotify"></i>
          </a>
        </li>
        <li>
          <a
            href="/feed.xml"
            target="_blank"
            class="sidebar-nav__social__item rss"
            aria-label="RSS Feed"
            title="Assine nosso RSS Feed"
          >
            <i aria-hidden="true" class="fas fa-rss"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="sidebar-content">
    <div class="sidebar__wrapper" data-scrollbar>
      <div class="sidebar-content__lists">
        <!-- albums -->
        {% include sidebar/sidebar-albums.html %}

        <!-- genres -->
        {% include sidebar/sidebar-genres.html %}

        <!-- year -->
        {% include sidebar/sidebar-year.html %}

        <!-- countries -->
        {% include sidebar/sidebar-countries.html %}
      </div>

      <footer class="sidebar-footer">
        <div class="sidebar-footer__copy">
          <div>
            {% if page.url == '/' %}
            <h1 class="sidebar-footer__copy__title">
              <strong>{{ site.title }}</strong>
              <span>{{site.subtitle}}</span>
            </h1>
            {% else %}
            <h2 class="sidebar-footer__copy__title">
              <strong>{{ site.title }}</strong>
              <span>{{site.subtitle}}</span>
            </h2>
            {% endif %}
            <nav class="sidebar-footer__nav">
              <a href="/sobre">Sobre</a>
              <a href="/politica-de-privacidade">Privacidade</a>
            </nav>
            <p>
              <small>
                2021 &copy; Feito por
                <a href="https://kevinoliveira.com.br/" target="_blank">
                  Kevin Oliveira
                </a>
              </small>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</aside>
