// @import './fonts/all';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: rem($font-size);
  line-height: normal;
  background-color: $black;
  color: $white;
}

.main {
  flex: 1;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  transition: 0.2s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: rem(32px);

  @media (min-width: $tablet) {
    font-size: rem(48px);
  }
}

h2 {
  font-size: rem(24px);

  @media (min-width: $tablet) {
    font-size: rem(40px);
  }
}

h3 {
  font-size: rem(16px);

  @media (min-width: $tablet) {
    font-size: rem(32px);
  }
}

h4 {
  font-size: rem(16px);

  @media (min-width: $tablet) {
    font-size: rem(24px);
  }
}

p {
  line-height: 1.5;
}

.uil::before {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.hide {
  color: transparent !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  display: block !important;
  margin: 0 !important;
}

.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
