// @import './fonts/all';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family;
  font-size: rem($font-size);
  line-height: normal;
  background-color: $black;
  color: $white;
}

.main {
  flex: 1;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  transition: 0.2s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
}

p {
  line-height: 1.5;
}

.uil::before {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.hide {
  color: transparent !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  display: block !important;
  margin: 0 !important;
}

.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

// Social
.amazon {
  &:hover {
    color: #ff9900;
  }
}

.deezer {
  &:hover {
    color: #ff0000;
  }
}

.lastfm {
  &:hover {
    color: #d51007;
  }
}

.spotify {
  &:hover {
    color: #1db954;
  }
}

.youtube {
  &:hover {
    color: #ff0000;
  }
}

.wikipedia-w {
  &:hover {
    color: #c7c8ca;
  }
}

.facebook {
  &:hover {
    color: #3b5998;
  }
}

.discord {
  &:hover {
    color: #7289da;
  }
}

.instagram {
  &:hover {
    color: #c13584;
  }
}
