.post-album {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 40px);
  max-width: rem(1168px);
  margin: rem(168px) auto 0;

  @media (min-width: 768px) {
    width: calc(100% - 80px);
    margin: rem(220px) auto 0;
    flex-direction: row;
  }

  &__cover {
    width: 100%;
    margin-bottom: rem(32px);

    @media (min-width: 768px) {
      width: calc(100% - 480px);
      max-width: rem(480px);
      margin-bottom: 0;
      margin-right: rem(48px);
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__content {
    width: 100%;
    max-width: rem(320px);

    @media (min-width: 1024px) {
      max-width: rem(480px);
    }

    hgroup {
      display: flex;
      flex-direction: column;
    }

    &__header {
      margin-bottom: rem(24px);

      @media (min-width: 1024px) {
        margin-bottom: rem(40px);
      }
    }

    &__artist {
      order: 1;
      margin: 0;
      margin-bottom: rem(8px);
      font-size: rem(16px);
      font-weight: 400;

      @media (min-width: 1024px) {
        margin-bottom: rem(16px);
        font-size: rem(32px);
      }
    }

    &__title {
      order: 2;
    }

    &__title,
    &__year {
      margin: 0;
      font-size: rem(40px);
      font-weight: 700;

      @media (min-width: 1024px) {
        font-size: rem(56px);
      }
    }

    &__year:before {
      content: '(';
      display: inline-block;
    }

    &__year:after {
      content: ')';
      display: inline-block;
    }

    &__genres {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: rem(16px) 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: rem(4px);
        padding: rem(2px) rem(6px);
        font-size: rem(14px);
        background-color: $color-primary;
        color: $white;
        border-radius: rem(2px);
        transition: 0.2s all ease;

        &:hover {
          background-color: $color-primary-tint;
        }
      }
    }

    &__links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: rem(24px);
        display: inline-block;

        @media (min-width: 768px) {
          font-size: rem(32px);
        }

        @media (min-width: 1024px) {
          font-size: rem(40px);
        }

        &:not(:last-child) {
          margin-right: rem(16px);

          @media (min-width: 1024px) {
            margin-right: rem(24px);
          }
        }
      }

      a,
      img {
        display: block;
        width: 100%;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
