<ol
  class="list list-breadcrumb"
  itemscope
  itemtype="http://schema.org/BreadcrumbList"
>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="http://schema.org/ListItem"
  >
    <meta itemprop="position" content="1" />
    <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
  </li>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="http://schema.org/ListItem"
  >
    <meta itemprop="position" content="2" />
    <a itemprop="item" href="/{{page.genres[0]}}">
      <span itemprop="name">{{page.genres[0]}}</span>
    </a>
  </li>
</ol>
