<ul class="list list-posts accelerated">
  {%- for post in site.posts -%}
  <li class="list-posts__item">
    <a
      href="{{ post.url }}"
      class="list-posts__card"
      title="{{ post.title }} - {{ post.artist }}"
    >
      <picture>
        <source
          srcset="/assets/img/albums{{post.url}}.webp"
          type="image/webp"
        />
        <source srcset="/assets/img/albums{{post.url}}.jpg" type="image/jpeg" />
        <img
          class="list-posts__card__image"
          loading="lazy"
          src="/assets/img/albums{{post.url}}.jpg"
          alt="Capa do álbum {{ post.title }} - {{ post.artist }}"
        />
      </picture>
    </a>
  </li>
  {%- endfor -%}
</ul>
