---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body class="single">
    {% include header.html %}

    <main class="main">
      {% include lists/list-posts.html %}

      <article
        class="post-album"
        itemscope
        itemtype="https://schema.org/MusicAlbum"
      >
        <div class="post-album__cover">
          <img
            itemprop="image"
            src="{{ page.images[0] }}"
            alt="{{ page.title }}"
          />
          <!-- {%- for image in page.images -%}
          <div>
            <img src="{{ image }}" alt="" />
          </div>
          {%- endfor -%} -->
        </div>
        <div class="post-album__content">
          {% include lists/list-breadcrumb.html %}
          <header class="post-album__content__header">
            <h2
              class="post-album__content__artist"
              itemprop="byArtist"
              itemscope
              itemtype="https://schema.org/MusicGroup"
            >
              <span itemprop="name">{{ page.artist }}</span>
            </h2>
            <h1 class="post-album__content__title" itemprop="name">
              {{ page.title }}
            </h1>
            <strong class="post-album__content__year" itemprop="copyrightYear">
              ({{ page.year }})
            </strong>
            <meta itemprop="copyrightHolder" content="{{ page.label }}" />
            <meta
              itemprop="description"
              content="{{ page.country }} O álbum {{ page.title }} foi o único álbum lançado por {{ page.artist }}, em {{ page.year }}, pelo selo {{ page.label }}. "
            />
            <meta content="{{ page.genres[0] }}" itemprop="genre" />
          </header>
          <ul class="post-album__content__links">
            {%- for link in page.links -%} {%- if link.url -%}
            <li>
              <a
                href="{{ link.url }}"
                title="Abrir álbum no {{link.title}}"
                target="_blank"
                class="post-album__content__links__item {{link.title | slugify}}"
              >
                <i class="fab fa-{{link.title | slugify}}"></i>
              </a>
            </li>
            {%- endif -%} {%- endfor -%}
          </ul>
        </div>
      </article>
    </main>

    {% include footer.html %}

    <script src="/assets/js/main.js"></script>
  </body>
</html>
