---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body class="single">
    {% include header.html %}

    <main class="main">
      {% include lists/list-posts.html %}

      <article
        class="post-album"
        itemscope
        itemtype="https://schema.org/MusicAlbum"
      >
        <div class="post-album__cover">
          <img
            itemprop="image"
            src="{{ page.images[0] }}"
            alt="{{ page.title }}"
          />
          <!-- {%- for image in page.images -%}
          <div>
            <img src="{{ image }}" alt="" />
          </div>
          {%- endfor -%} -->
        </div>
        <div class="post-album__content">
          {% include lists/list-breadcrumb.html %}
          <header class="post-album__content__header">
            <h2
              class="post-album__content__artist"
              itemprop="byArtist"
              itemscope
              itemtype="https://schema.org/MusicGroup"
            >
              <span itemprop="name">{{ page.artist }}</span>
            </h2>
            <h1 class="post-album__content__title" itemprop="name">
              {{ page.title }}
            </h1>
            <strong class="post-album__content__year" itemprop="copyrightYear">
              ({{ page.released | date: "%Y" }})
            </strong>
            <meta itemprop="copyrightHolder" content="{{ page.label }}" />
            <meta itemprop="description" content="{{ page.country }} O álbum {{
            page.title }} foi o único álbum lançado por {{ page.artist }}, em {{
            page.released | date: "%Y" }}, pelo selo {{ page.label }}. " />
            <meta content="{{ page.categories[0] }}" itemprop="genre" />
          </header>
          <ul class="post-album__content__links">
            {%- for link in page.links -%} {%- if link.url -%}
            <li>
              <a
                href="{{ link.url }}"
                title="Abrir álbum no {{link.title}}"
                target="_blank"
                class="post-album__content__links__item {{link.title | slugify}}"
              >
                <i class="fab fa-{{link.title | slugify}}"></i>
              </a>
            </li>
            {%- endif -%} {%- endfor -%}
          </ul>

          <footer class="post-footer">
            <nav class="post-navigation">
              {% if page.previous.url %}
              <a
                class="post-navigation__link post-navigation__prev"
                href="{{page.previous.url}}"
                rel="prev"
              >
                <span>{{page.previous.title}}</span>
                <i class="fas fa-chevron-left"></i>
              </a>
              {% endif %} {% if page.next.url %}
              <a
                class="post-navigation__link post-navigation__next"
                href="{{page.next.url}}"
                rel="next"
              >
                <i class="fas fa-chevron-right"></i>
                <span>{{page.next.title}}</span>
              </a>
              {% endif %}
            </nav>

            <button data-open="share" class="post-footer__share">
              <i class="fas fa-share-alt"></i>
            </button>
          </footer>
        </div>
      </article>
    </main>

    {% include modals/modal-share.html %} {% include footer.html %}

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/single.js"></script>
  </body>
</html>
