.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(104px);
  z-index: 1;
  background-image: linear-gradient(to bottom, $black, transparent);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    height: rem(144px);
  }

  &__wrapper {
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      width: calc(100% - 80px);
    }

    @media (min-width: 1024px) {
      width: calc(100% - 144px);
    }
  }

  &__close {
    display: block;
    font-size: rem(32px);
    pointer-events: all;

    @media (min-width: 768px) {
      font-size: rem(48px);
    }
  }
}
