.dd-o-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(144px);
  z-index: 1;
  background-image: linear-gradient(to bottom, $black, transparent);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: calc(100% - 144px);
    margin: auto;
  }

  .dd-a-logo {
    pointer-events: all;
  }
}
