<div class="sidebar-content__list" style="display: none;" data-menu="albums">
  <h3 class="sidebar-content__list__title">Álbuns de A a Z</h3>
  {% assign sortedPosts = site.posts | sort: 'title' %}

  <ol>
    {% for post in sortedPosts %}
      {% assign next = forloop.index + 1 %}
      {% capture this_letter %}{{ post.title | slice: 0 }}{% endcapture %}
      {% capture next_letter %}{{ sortedPosts[next].title | slice: 0 }}{% endcapture %}

      {% if forloop.first %}
      <li>
        <h4 class="sidebar-content__list__subtitle" id="{{ this_letter }}-ref">{{this_letter}}</h4>
        <ul>
      {% endif %}

      <li>
        <a href="{{ post.url }}">
          <strong>{{ post.title }}</strong>
          <span>{{ post.artist }}</span>
        </a>
      </li>

      {% if forloop.last %}
        </ul>
        </li>
      {% else %}
        {% if this_letter != next_letter %}
          </ul>
        </li>

        <li>
          <h4 class="sidebar-content__list__subtitle" id="{{ next_letter }}-ref">{{next_letter}}</h4>
          <ul>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ol>
</div>
