<div class="sidebar-content__list" style="display: none" data-menu="year">
  <h3 class="sidebar-content__list__title">Ano de lançamento</h3>
  {% assign sortedByYear = site.posts | sort: 'released' | group_by_exp: "item",
  "item.released | date: '%Y'" | reverse %} {% for list in sortedByYear %}
  <h4 class="sidebar-content__list__subtitle" id="{{list.name}}-ref">
    {{list.name}}
  </h4>
  <ol>
    {% for item in list.items %}
    <li>
      <a href="{{ item.url }}">
        <strong>{{ item.title }}</strong>
        <span>{{ item.artist }}</span>
      </a>
    </li>
    {% endfor %}
  </ol>
  {% endfor %}
</div>
