<div class="sidebar-content__list" style="display: none" data-menu="countries">
  <h3 class="sidebar-content__list__title">Bandas por países</h3>
  {% assign sortedByCountry = site.posts | sort: 'country' | group_by_exp:
  "item", "item.country | date: '%Y'" %} {% for list in sortedByCountry %}
  <h4 class="sidebar-content__list__subtitle" id="{{list.name}}-ref">
    {{list.name}}
  </h4>
  <ol>
    {% for item in list.items %}
    <li>
      <a href="{{ item.url }}">
        <strong>{{ item.artist }}</strong>
        <span>{{ item.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ol>
  {% endfor %}
</div>
